.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 480px;
  border: 5px solid black;
  background-color: black;
  border-radius: 10px;
}

.display {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  font-size: xx-large;
  padding-right: 15px;
  color: black;
  border: 5px solid black;
  background-color: white;
  border-radius: 10px;
  height: 50px;
}

button {
  font-size: large;
  color: white;
  border: 5px solid black;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transition-duration: 0.3s;
}

button:hover {
  background-color: rgba(53, 99, 88, 0.5)!important;
  cursor: pointer;
}

button:active {
  box-shadow: inset 0px 0px 5px wheat!important;
}

.number {
  background-color: gray;
}

#add, #subtract, #multiply, #divide, #decimal, #equals {
  background-color: orange;
}

#clear {
  background-color: teal;
  width: 160px;
}

.expression {
  text-align: right;
  position: absolute;
  top: 200px;
  right: 140px;
  padding: 5px;
  border-color: white;
}

.answer {
  color: black;
  font-size: 35px;
  border: none;
  text-align: right;
}




